/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Corbel;
    background-color: rgb(0, 0, 0);
    color: #e6e6e6ff;
    overflow-x: hidden;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 40%;
    height: auto;
    padding: 2%;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #e6e6e6ff;
    box-shadow: 3px 3px 5px rgb(150, 150, 150);
    z-index: 1000;
    font-weight: bold;
    font-size: x-large;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}

nav li {
    flex: 1;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 0;
    text-align: center;
}

nav a:hover {
    background-color: rgb(207, 207, 207);
}

footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #e6e6e6ff;
    text-align: center;
    padding: 20px;
}

footer img {
    padding: 2%;
    max-width: 30%;
    height: auto;
}

section {
    position: relative;
    width: 100%;
}

section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.section-overlay h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section-overlay p {
    font-size: 18px;
    margin-bottom: 0;
}

main{
    margin: 5%;
    background-color: gray;
    box-shadow: 10px;
    color: #e6e6e6ff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position:relative;
}
main img {
    left: 0;
    max-width: 30%;
    max-width: 30vh; /* Limiting maximum height to 80% of viewport height */
}
.contact{
    text-align: center;
    padding: 5vh;
}
.contact div{
    padding: 1vh;
}

.text{
    padding: 1vh;
}
section.text{
    font-size: x-large;
}
/* scroll animationn */
.scroll-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.scroll-section.active {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .logo {
        max-width: 60%;
    }

    .section-overlay h1 {
        font-size: 24px;
    }

    .section-overlay p {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .logo {
        max-width: 80%;
    }

    /* nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .section-overlay h1 {
        font-size: 20px;
    }

    .section-overlay p {
        font-size: 12px;
    } */
}

@media (max-width: 500px) {
    body {
        max-width: 500px;
        margin: 0 auto;
    }
    
    .nav-menu {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    
    .nav-menu li.menu-toggle {
        display: none;
    }
}
