* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
    background-color: rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #e6e6e6ff;
    box-shadow: 3px 3px 5px rgb(150, 150, 150);
    z-index: 1000;
    font-weight: bold;
    font-size: x-large;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}

nav li {
    height: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

nav a:hover {
    background-color: rgb(207, 207, 207);
}

footer {
    width: 100%;
    background-color: rgb(15, 15, 15);
    color: #e6e6e6ff;
    text-align: center;
    padding: 20px;
}

footer img {
    padding: 2%;
}

div.logo {
    width: 100%;
    background-color: rgb(15, 15, 15);
    padding: 5%;
    text-align: center;
}

section {
    margin: 6%;
    padding: 2%;
    background-color: gray;
    text-align: center;
    border-radius: 20px;
    border: 3px;
    border-color: black;
    box-shadow: 10px;
    color: #e6e6e6ff;
}

img {
    padding: 2%;
}